<% include partials/header %>

    <h1>Welcome to BelpCamp</h1>
    <button><a href="campgrounds/new">Add new Campground</a></button>
    <% campgrounds.forEach(campground => { %>
        <h2><%= campground.name %></h2>
        <img src="<%= campground.image %>" alt="image">
        <p><%= campground.description %></p>
        <a href="campground/<%= campground._id %>">Show campground</a>
    <% })%>
    <a href="/">Homepage</a>


<% include partials/footer %>